.option-container {

    margin: 10px;
    padding: 30px 0;
    height: 100%;
    min-height: 500px;
    // min-width: 300px;





    h5,
    p {
      // margin: 0;
      padding: 2px 10px;
      color: black;
    }
    p {
      font-size: 12px;
    }

    .optionInputBox {
    
      // overflow-y: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
    

      .option-div {
        display: flex;
        flex-direction: column;
        
        label {
          font-size: 12px;
        }

        input {
          width: 200px;
        }
      }

      .optionBtn {
        width: 50%;
        margin-top: 10px;
        font-size: 10px;
        
      }

      .add {
        border: 2px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0) !important;
        border-radius: 10px;
      }

      .decide {
        background-color: rgba(239, 175, 175, 1);
        border-radius: 10px;
        color: white;
        font-size: 10px;
      }


    }


   
  }

  .option-container .optionInputBox .add {
    border: 2px dotted rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.option-container .optionInputBox .add {
  border: 2px dotted rgb(0, 0, 0) !important;
}