.product-body {
  width: 100vw;
  height: 100vh;
}

.product-body1 {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'gordita', 'sans-selif';

  .wt {
    color: white;
    margin: 10px 0;
  }
  
  .product-top {
    width: 100%;
    background: linear-gradient(
      45deg,
      rgba(100, 74, 246),
      rgba(255, 219, 250)
    );
    padding: 50px;

    .dfmBtn {
      padding: 5px 20px;
      margin: 10px;
      border-radius: 8px;
      cursor: pointer;
      background-color: rgba(255, 203, 140);

      border: none;
    }

    .dfmBtn:hover {
      background-color: rgb(238, 176, 99);
    }
  }

  .product-bottom {
    padding: 50px;
    height: 70%;
    width: 100%;
    background-color: rgba(255, 219, 250, 0.1);

    .contributor-div {
      display: flex;
      margin-top: 30px;
      justify-content: center;

      div {
        margin: 30px;

        img {
          background-color: grey;
          border-radius: 20%;
          object-fit: cover;
        }

        p {
          margin-left: 25px;
        }
      }
    }
  }
}

.product-body2 {
  width: 100%;
  height: 100%;
  // padding-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  font-family: 'gordita', 'sans-selif';
  background-color: rgba(255, 219, 250, 0.2);
  .product-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    h3 {
      // margin: 30px 50px;
      text-align: center;
    }

    .option-container-nav {
      margin: 20px 10%;
      width: 100%;

      // display: flex;

      .nav-item {
        margin: auto;
        width: 40%;
        font-size: 12px;
      }
      .nav-content {
        // margin: 5% 20%;
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 10px;
        background-color: rgba(255, 219, 250, 0.5);
      }
    }

   
  }

  .product-right {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(100, 74, 246,0.8) ;
    // background: linear-gradient(
    //   45deg,
    //   rgba(100, 74, 246),
    //   rgba(255, 219, 250)
    // );
  }
}

@media only screen and (max-width: 768px) {
  .product-body1 {
    font-size: 12px;

    .product-bottom {
      padding: 30px;
      height: 60%;

      .contributor-div {
        flex-wrap: wrap;

        div {
          margin: 0;
          width: 50%;
          max-width: calc(50% - 60px);
        }
      }
    }
  }

  .product-body2 {
    flex-direction: column;
    top: 0;

    .product-left,
    .product-right {
      width: 100%;
    }

    .product-left {
      .option-container-nav {
        #navBtn {
          color: red;
        }
      }
    }

    .nav-content {
      height: 85%;
    }
  }
}

@media only screen and (max-width: 375px) {
  .product-body1 {
    .proudct-top {
      font-size: 10px;
      padding-bottom: 20px;
      height: 50%;
    }

    .product-bottom {
      padding: 20px;

      .contributor-div {
        margin: 0;
        padding: 0;

        div {
          margin: 10px;
        }
      }
    }
  }
  .product-body2 {

    .option-container {
      height: 50%;
      overflow-y: auto;
    }
    .nav-content {
      height: 60%;
    }
  }
}

.pref-container .checkbox-div .checkbox-label {
  font-size: 14px;
  color: white;
}
