.product-body {
  width: 100vw;
  height: 100vh;
}

.product-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(45deg, rgb(100, 74, 246), rgb(255, 219, 250));
  padding: 50px;
  width: 100%;
  padding: 95px;
  flex-direction: column;
}

.product-body1 {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  font-family: "gordita", "sans-selif";
}
.product-body1 .wt {
  color: white;
  margin: 10px 0;
}
.product-body1 .product-top {
  width: 100%;
  background: linear-gradient(45deg, rgb(100, 74, 246), rgb(255, 219, 250));
  padding: 100px;
}
.product-body1 .product-top .dfmBtn {
  padding: 5px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(255, 203, 140);
  border: none;
}
.product-body1 .product-top .dfmBtn:hover {
  background-color: rgb(238, 176, 99);
}
.product-body1 .product-bottom {
  padding: 50px;
  height: 70%;
  width: 100%;
  background-color: rgba(255, 219, 250, 0.1);
}
.product-body1 .product-bottom .contributor-div {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.product-body1 .product-bottom .contributor-div div {
  margin: 30px;
}
.product-body1 .product-bottom .contributor-div div img {
  background-color: grey;
  border-radius: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-body1 .product-bottom .contributor-div div p {
  margin-left: 25px;
}

.product-body2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  font-family: "gordita", "sans-selif";
  background-color: rgba(255, 219, 250, 0.2);
}
.product-body2 .product-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.product-body2 .product-left h3 {
  text-align: center;
}
.product-body2 .product-left .option-container-nav {
  margin: 20px 10%;
  width: 100%;
}
.product-body2 .product-left .option-container-nav .nav-item {
  margin: auto;
  width: 40%;
  font-size: 12px;
}
.product-body2 .product-left .option-container-nav .nav-content {
  background: linear-gradient(45deg, rgb(100, 74, 246), rgb(255, 219, 250));
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px;
  background-color: rgba(255, 219, 250, 0.5);
  border-radius: 20px;
}
#product > div > div > div > div.product-left > div > ul > li:nth-child(1) > button {

  color: rgb(72, 70, 58) !important;
  
}

#product > div > div > div > div.product-left > div > div > div > div > div.option-div > label {

  color: black;

}

#product > div > div > div > div.product-left > div > div > div > div > p {
  color: black;
}

#product > div > div > div > div.product-left > div > div > div > div > button.optionBtn.add {
  color: black;
}

@media only screen and (max-width: 768px) {
  .product-body1 {
    font-size: 12px;
  }
  .product-body1 .product-bottom {
    padding: 30px;
    height: 60%;
  }
  .product-body1 .product-bottom .contributor-div {
    flex-wrap: wrap;
  }
  .product-body1 .product-bottom .contributor-div div {
    margin: 0;
    width: 50%;
    max-width: calc(50% - 60px);
  }
  .product-body2 {
    flex-direction: column;
    top: 0;
  }
  .product-body2 .product-left,
  .product-body2 .product-right {
    width: 100%;
  }
  .product-body2 .product-left .option-container-nav #navBtn {
    color: black;
  }
  .product-body2 .nav-content {
    height: 85%;
  }
}
@media only screen and (max-width: 375px) {
  .product-body1 .proudct-top {
    font-size: 10px;
    padding-bottom: 20px;
    height: 50%;
  }
  .product-body1 .product-bottom {
    padding: 20px;
  }
  .product-body1 .product-bottom .contributor-div {
    margin: 0;
    padding: 0;
  }
  .product-body1 .product-bottom .contributor-div div {
    margin: 10px;
  }
  .product-body2 .option-container {
    height: 50%;
    overflow-y: auto;
  }
  .product-body2 .nav-content {
    height: 60%;
  }
  
  

}

.MuiButtonBase-root {

  background-color: red;
  

}   /*# sourceMappingURL=product.css.map */